body {
  background: lightgrey;
}

h1 {
  background-color: lightblue;
  border: dotted black 4px;
}

#more {
  background-color: lightblue;
  border: solid black 2px;
  padding: 10px;
}

#previous {
  background-color: lightblue;
  border: solid black 2px;
  padding: 10px;
}
