.container {
  margin: 10px;
}

body {
  background: url("../img/winter-sunrise.jpg");
  transform-origin: center;
}

#datepicker {
  border-width: 5px;
  background-color: FFF;
  margin: 30px;
}

.notice {
  border-width: 5px;
  background-color: FFF;
  text: FFF;
}

#ui-datepicker-div {
  background-color: lightyellow;
  padding: 2px;
  margin: 2px;
}


h1 {
  margin: 5px 5px;
  text-align: center;
  text-decoration: underline;
}

#journal {
  display: none;
}

#time {
  margin: 10px;
  padding: 10px;
  text-align: center;
  /* hours12: false; */
}

.btn {
  cursor: pointer;
  background-color: lightblue;
  border-color: black;
  border-width: 2px;
}

p.btn {
  cursor: pointer;
  background-color: lightgrey;
  border-color: black;
  border-width: 2px;
  display: inline-block;
}

#loadJournal {
  text-align: center;
}

form {
  margin-bottom: 5px;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

.ui-datepicker-prev {
  background-color: lightpink;
  margin-right: 2px;
  cursor: pointer;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

.ui-datepicker-next {
  background-color: lightgreen;
  margin-left: 2px;
  cursor: pointer;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}
