h1 {
  margin: 5px 5px;
  text-align: center;
  text-decoration: underline;
}

#journal {
  display: none;
}

.btn {
  cursor: pointer;
  background-color: lightblue;
  border-color: black;
  border-width: 2px;
}

p.btn {
  cursor: pointer;
  background-color: lightgreen;
  border-color: black;
  border-width: 2px;
  display: inline-block;
}

#loadJournal {
  text-align: center;
}

form {
  margin-bottom: 5px;
}
