.container {
  margin: 10px;
}

body {
  background: url("../img/outer-space.jpg");
  transform-origin: center;
}


#selectDate {
  width: 25%;
  background-color: lightgrey;
  border-radius: 50%;
  width: 190px;
  height: 190px;
}

#moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 salmon;
  float: right;
}


.notice {
  border-width: 5px;
  background-color: FFF;
  text: FFF;
  width: 100px;
  height: 50px;
}

/* .openBook {
  display: none;
} */

.seeIt {
  font-style: italic;
  font-weight: bold;
  width: 50px;
  height: 50px;
  background-color: lightgrey;
}

/* #ui-datepicker-div {
  background-color: lightyellow;
  margin: 2px;
} */


/* .openBook {
  display: none;
} */


/* log in section */

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  /* border-radius: 60%; */
}

/* 60%-width inputs */
input[type=text], input[type=password] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
}

/* Set a style for all buttons */
button {
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.bold {
  text-decoration: underline;
  font-weight: 200;
}

/* Extra style for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: maroon;
}

/* Center the image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
/* end login */



h1 {
  margin: 5px 5px;
  text-align: center;
  text-decoration: underline;
}

#journal {
  display: none;
}

#time {
  margin: 10px;
  padding: 10px;
  text-align: center;
  /* hours12: false; */
  background-color: lightgrey;
  opacity: 0.5;
  border-radius: 50%;
}

.btn {
  cursor: pointer;
  background-color: lightblue;
  border-color: black;
  border-width: 2px;
}

p.btn {
  cursor: pointer;
  background-color: lightgrey;
  border-color: black;
  border-width: 2px;
  display: inline-block;
}

#loadJournal {
  text-align: center;
}

form {
  margin-bottom: 5px;
}

/* ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;} */

/* Month header */
/* .month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
/* .month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
/* .month .prev {
  float: left;
  padding-top: 10px;
}

/* .ui-datepicker-prev {
  background-color: lightpink;
  margin-right: 2px;
  cursor: pointer;
/* } */
/*
/* Next button */
/* .month .next {
  float: right;
  padding-top: 10px;
} */

/* .ui-datepicker-next {
  background-color: lightgreen;
  margin-left: 2px;
  cursor: pointer;
} */

/* Weekdays (Mon-Sun) */
/* .weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
/* .days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
} */

/* Highlight the "current" day */
/* .days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
} */

#gratefulNotes{
  color: brown;
  text-align: center;
  background-color: lightyellow;
  style: bold;
  display: list-item;
}

li.question1Answer {
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
